@import '../../scss/mixins.scss';

.tableGrid {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 411px;
    width: 411px;

    .cell {
        @include alignCenter;
        box-sizing: border-box;
        height: 137px;
        width: 137px;
        border: 5px solid #fffffe;
        box-sizing: border-box;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            border-top: none;
        }

        &:nth-child(3n + 1) {
            border-left: none;
        }

        &:nth-child(3n + 3) {
            border-right: none;
        }

        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            border-bottom: none;
        }

    }
}